/* Reset de Estilos*/
* {
    margin: 0;
    /*Elimina los margenes predertimados*/
    padding: 0;
    /* Elimina los rellenos predeterminados*/
    box-sizing: border-box;
    /*Incluye borders y rellenos en el tamño total de los elementos*/
}

/*Estilos para el Login*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

.inicio div {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

h1 {
    color: #c20000;
}

/* Estilo navegacion */

.encabezado{
    border-bottom: inset;
}

.ul-navigation {
    list-style: none;
    /*Eliminar los puntos de la lista*/
    display: flex;
    /*Usa Flexbox para alinear elementos*/
    justify-content: center;
    /*centar horizontalmente los elementos*/
    align-items: center;
    flex-wrap: wrap;    /* Permitir que los elementos se vuelvan multiples lineas de ser necesario*/
    padding: 10px 0px;
    /*OJO  Espacio interior en la parte superior e inferior*/
    gap: 10px;
    /*Espacio entre elementos*/
    background-color: #ffffff;
    /* Color de fondo de la navegación*/
    margin-top: 10px;
    /*Espacio superior*/
}

.ul-navigation a {
    text-decoration: none;
    /* elimina el subrayado*/
    color: rgb(127, 127, 127);
    /* Color del texto de los enlaces*/
    padding: 5px 10px;
    /* Espacio interior de los enlaces*/
}

/* estilos logo menu */
.logomenu {
    height: 50px;
}

/* Estilos Menu seleccion */
.buttonaction {
    display: flex;
    justify-content: right;
    margin-bottom: 5px;
    gap: 0px;
}

.buttonnuevo {
    color: #ffffff;
    background-color: #c20000;
    margin: 10px;
    padding: 5px;
    border-color: #c20000;
    width: 70px;
    cursor: pointer;
}

/* contenido tablas */


.table {
    padding: 5px;
    width: 100%;
}

table th {
    background-color: #c20000;
    color: white;
    padding: 10px;
    text-align: center;
}

table td {
    border-color: darkgrey;
    border: 1px solid;
}

.imgproductos {
    height: 100px;
}

.user-image{
    height: 70px;
    margin: 10px;
}

.icon-eraser {
    margin: 5px;
    width: 15px;
    height: 15px;
}

.td-opciones{
    text-align: center;
}

/* Estilos formularios */

.formulario{
    margin: 15px auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

.formulario label{
    font-weight: 600;
    display: block;
    width: 100%;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

div.button {
    text-align: center;
  }

.button-send{
    width: 30%;
    padding: 10px;
    background-color: #c20000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

.button-clean{
    width: 30%;
    padding: 10px;
    background-color: #656565;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    background-color: rgb(143, 56, 40);
}